#pagenavigator{
    border:1px solid #ccc;
    border-radius: 15px;
    background-color: rgb(247, 247, 247);
}

#pagenavigator  ul{
    list-style: none;
}

#pagenavigator  a{
    text-decoration: none;
}

#pagenavigator  a:hover{
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6{
    margin-top: 50px;
}