*, ::after, ::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div {
    display:block;
}

body {
    margin: 0%;
    padding: 0%;
    font-size: 16px;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #f7f7f7;
    color:  #242424;
    line-height: 1.5;
}

.container {
    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #ccc;
    padding: 15px;
}

